In [357]:
import pandas as pd

In [358]:
df = pd.read_csv("C:\\Users\\mooni\\ProjectsVSC\\NetflixData\\netflixData.csv")

In [359]:
df.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Year,Rating,Duration,Imdb Score,Content Type
0,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020,Television,99 min,6.2,Movie
1,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019,TV-14,95 min,6.4,Movie
2,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",Unavailable,Canada,2020,TV-14,90 min,5.1,Movie
3,c293788a-41f7-49a3-a7fc-005ea33bce2b,#FriendButMarried,"Pining for his high school crush for years, a ...",Rako Prijanto,"Dramas, International Movies, Romantic Movies","Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,2018,TV-G,102 min,7.0,Movie
4,0555e67e-f624-4a05-93e4-55c117d0056d,#FriendButMarried 2,As Ayu and Ditto finally transition from best ...,Rako Prijanto,"Dramas, International Movies, Romantic Movies","Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,2020,TV-G,104 min,7.0,Movie

In [360]:
x = ['Director']
for i in x:
    print(df[i])

0                            Cho Il
1       Sabina Fedeli, Anna Migotto
2                  Michael Margolis
3                     Rako Prijanto
4                     Rako Prijanto
                   ...
3602                    Josef Fares
3603                       Sam Dunn
3604              Ahmed Nader Galal
3605                  Hong-seon Kim
3606                  Young Jun Lee
Name: Director, Length: 3607, dtype: object

In [361]:
top_directors = df.sort_values(by='Imdb Score', ascending=False)
print(top_directors[['Director','Imdb Score']])

                                               Director  Imdb Score
1663                                          Onur Ünlü         9.1
749   Alastair Fothergill, Jonnie Hughes, Keith Scholey         9.1
2088                                    Samir Al Asfory         9.0
483                                          Bo Burnham         9.0
1063                                      Yasuhiro Irie         9.0
...                                                 ...         ...
43                                           Matei Dima         1.9
709                        Patrick Durham, Paul G. Volk         1.9
1260                                         Sajid Khan         1.8
3289                             Stanley Menino D'Costa         1.7
148                                          S.A. Zaidi         1.3

[3607 rows x 2 columns]

In [362]:
top_directors.head(3607)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Year,Rating,Duration,Imdb Score,Content Type
1663,faecb7ec-9844-4a27-be14-9fdcacb5edfc,Leyla and Mecnun,Destiny brings Mecnun and Leyla together as ne...,Onur Ünlü,"International TV Shows, Romantic TV Shows, TV ...","Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,2014,Television,3 Seasons,9.1,TV Show
749,9d781eca-0cb0-4314-82f0-bbd590749bc0,David Attenborough: A Life on Our Planet,"A broadcaster recounts his life, and the evolu...","Alastair Fothergill, Jonnie Hughes, Keith Scholey",Documentaries,David Attenborough,"United States, United Kingdom",2020,PG,84 min,9.1,Movie
2088,6e0d34db-b4b3-4e50-a2b7-0d2c653e613a,No Longer kids,Hoping to prevent their father from skipping t...,Samir Al Asfory,"Comedies, Dramas, International Movies","Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,1979,TV-14,237 min,9.0,Movie
483,389c030d-59cf-4065-a3fd-71566493cb8d,Bo Burnham: Inside,A new comedy special shot and performed by Bo ...,Bo Burnham,Stand-Up Comedy,Bo Burnham,United States,2021,Television,88 min,9.0,Movie
1063,f04b1850-e6fc-4b74-99d9-cedfa75d8532,Fullmetal Alchemist: Brotherhood,After both suffer physical damage – brothers E...,Yasuhiro Irie,"Anime Series, International TV Shows","Romi Park, Rie Kugimiya, Megumi Takamoto, Shin...",Japan,2010,TV-14,5 Seasons,9.0,TV Show
...,...,...,...,...,...,...,...,...,...,...,...,...
43,551e2c27-ae54-4918-bb58-4a6e7f1010c3,5Gang,"To keep the band together, Selly tries to earn...",Matei Dima,"Comedies, International Movies","Andrei Selaru, Dorian Popa, Julia Marcan, Ana ...",Romania,2019,TV-14,96 min,1.9,Movie
709,1a7f4054-64b6-4bdc-bf87-f0075e7feebd,Cross: Rise of the Villains,"Armed with a mighty ancient amulet, a team of ...","Patrick Durham, Paul G. Volk",Action & Adventure,"Brian Austin Green, Vinnie Jones, Lori Heuring...",United States,2019,R,100 min,1.9,Movie
1260,c1876a2e-e7df-4298-9d7f-fee98ea783f2,Himmatwala,A young man returns to his native village on a...,Sajid Khan,"Action & Adventure, Comedies, International Mo...","Ajay Devgn, Tamannaah Bhatia, Paresh Rawal, Za...",India,2013,TV-14,140 min,1.8,Movie
3289,257e1e6c-c095-4f95-b1b5-fb4eb8a32f52,Time to Dance,When a ballroom dancer’s shot at a crucial tou...,Stanley Menino D'Costa,"Dramas, International Movies, Romantic Movies","Sooraj Pancholi, Isabelle Kaif, Rajpal Yadav, ...",India,2020,TV-PG,107 min,1.7,Movie
148,7812f6bf-d227-429d-8361-998ae8ca4919,Aerials,Dubai residents struggle to figure out why a f...,S.A. Zaidi,"International Movies, Sci-Fi & Fantasy","Saga Alyasery, Ana Druzhynina, Mansour Al Fele...",United Arab Emirates,2016,TV-14,90 min,1.3,Movie

In [363]:
top_directors['Director'].value_counts()

Director
Raúl Campos, Jan Suter           18
Marcus Raboy                     16
Jay Karas                        14
Cathy Garcia-Molina              12
Youssef Chahine                  12
                                 ..
Yanyong Kuruaungkoul              1
Mandla Dube                       1
Mark Franchetti, Andrew Meier     1
Buzz Kulik                        1
S.A. Zaidi                        1
Name: count, Length: 2813, dtype: int64

In [364]:
top3 = pd.DataFrame(top_directors['Director'].value_counts().head(3))

In [365]:
top3

                        count
Director
Raúl Campos, Jan Suter     18
Marcus Raboy               16
Jay Karas                  14

In [366]:
new1 = top_directors[top_directors['Director'] == "Raúl Campos, Jan Suter"]

In [367]:
new1.head(3)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Year,Rating,Duration,Imdb Score,Content Type
1746,b9e442ad-58cb-478c-b36b-018cf508732d,Luciano Mellera: Infantiloide,Argentina's Luciano Mellera emphasizes the hum...,"Raúl Campos, Jan Suter",Stand-Up Comedy,Luciano Mellera,Argentina,2018,TV-14,66 min,8.2,Movie
2639,05c30c0a-78b9-4d07-a859-27f673f3ac61,Sofía Niño de Rivera: Exposed,Self-deprecating comic Sofía Niño de Rivera pu...,"Raúl Campos, Jan Suter",Stand-Up Comedy,Sofía Niño de Rivera,Mexico,2016,Television,80 min,7.5,Movie
3306,e9d9071e-b058-42d3-93fc-bdac1803817f,Todo lo que sería Lucas Lauriente,"In his stand-up set, Argentine comic Lucas Lau...","Raúl Campos, Jan Suter",Stand-Up Comedy,Lucas Lauriente,Argentina,2018,Television,78 min,7.1,Movie

In [368]:
ave1 = new1['Imdb Score'].head(3).sum()/3

In [369]:
ave1

7.599999999999999

In [370]:
new2 = top_directors[top_directors['Director'] == "Marcus Raboy"]

In [371]:
new2.head(3)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Year,Rating,Duration,Imdb Score,Content Type
2774,29a66105-efcd-4301-85e5-847c1493d854,Taylor Tomlinson: Quarter-Life Crisis,She's halfway through her 20s — and she's over...,Marcus Raboy,Stand-Up Comedy,Taylor Tomlinson,United States,2020,Television,61 min,7.5,Movie
2465,a6d06009-6907-471e-aedc-cb4d7ff05a7e,Ryan Hamilton: Happy Face,Small-town import Ryan Hamilton charms New Yor...,Marcus Raboy,Stand-Up Comedy,Ryan Hamilton,United States,2017,TV-14,57 min,7.4,Movie
268,6f67a8ed-2f0f-4acb-b796-374ec54ee8d1,Anthony Jeselnik: Fire in the Maternity Ward,"Forging his own comedic boundaries, Anthony Je...",Marcus Raboy,Stand-Up Comedy,Anthony Jeselnik,United States,2019,Television,64 min,7.3,Movie

In [372]:
ave2 = new2['Imdb Score'].head(3).sum()/3

In [373]:
ave2

7.3999999999999995

In [374]:
new3 = top_directors[top_directors['Director'] == "Jay Karas"]

In [375]:
new3.head(3)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Year,Rating,Duration,Imdb Score,Content Type
439,c418d1c4-bcec-47af-bffe-edf65a999d8b,Bill Burr: I'm Sorry You Feel That Way,"Bill Burr escapes the zombie apocalypse, explo...",Jay Karas,Stand-Up Comedy,Bill Burr,United States,2014,Television,81 min,8.3,Movie
442,3872feb9-03fd-4909-879d-dd5a4adeb0ba,Bill Burr: You People Are All the Same,Funnyman Bill Burr takes the stage to uncork a...,Jay Karas,Stand-Up Comedy,Bill Burr,United States,2012,Television,69 min,8.3,Movie
3315,b741be1a-1afb-4679-a082-6b795e8fe0b7,Tom Segura: Disgraceful,Tom Segura gives voice to the sordid thoughts ...,Jay Karas,Stand-Up Comedy,Tom Segura,United States,2018,Television,71 min,7.7,Movie

In [376]:
ave3 = new3['Imdb Score'].head(3).sum()/3

In [377]:
ave3

8.1

In [378]:
avedata = [
    {"Directors" : top3.index[0], "Average Imdb Score" : ave1},
    {"Directors" : top3.index[1], "Average Imdb Score" : ave2},
    {"Directors" : top3.index[2], "Average Imdb Score" : ave3}
]

In [379]:
avedf = pd.DataFrame(avedata)
avedf.sort_values(by='Average Imdb Score', ascending=False)

                Directors  Average Imdb Score
2               Jay Karas                 8.1
0  Raúl Campos, Jan Suter                 7.6
1            Marcus Raboy                 7.4